#body-content {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.headings {
  padding-top: 30px;
  text-align: center;
  color: #E18D99;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  padding-left: 40px;
}

.grid-container-continuing {
  display: grid;
  margin: auto;
  width: fit-content;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-container-continuing-2 {
  display: grid;
  margin: auto;
  width: fit-content;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item-continuing {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.grid-item-continuing-2 {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

#post-secondary-heading {
  padding-bottom: 30px;
}

#continuing-heading {
  padding-top: 50px;
}

footer {
  padding-top: 500px; 
  text-align: left;
}

