#header, #footer-content {
  background-color: #113b51;
  color:white;
}

#contact-info {
  padding-left: 25px;
  color:white;
}

 #book-session {
  position: relative;
  left: 1020px;
}

#email:link, #book-session:link, #book-session:visited {
  color: white;
}

#email:hover, #book-session:hover {
  text-decoration: none;
  color: rgb(129, 142, 61);
}

#navbar-item {
  padding-left: 95px;
}

.navbar-icons {
  height: 64px;
  width: 64px;
}

#home-icon {
  position: relative;
  right: 1.55px;
  top: 12.5px;
}

#programs-icon {
  position: relative;
  left: 9px;
  top: 0.5px;
}

.program-text {
  position: relative;
  bottom: 16px;
}

#course-packages-icon {
  position: relative;
  left: 40px;
  top: 9px;
}


/* NOTE: below pertains to programs menu popping up on hover */

/* .programs-hover:hover + #programs{
  visibility: visible;
}

#programs {
  visibility: hidden;
} */

/* .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu #programs-table #programs a:hover  {
  background-color: #ddd;

} */

#about-me-icon {
  position: relative;
  left: 11.5px;
  top: 5.5px;
}

#contact-icon {
  position: relative;
  left: 5px;
}

.dropdown-menu {
  width: 680px;
}

th {
  padding-bottom: 15px;
  padding-left: 20px;
  color: #E18D99;
}

.subjects {
  height: 40px;
  padding-left: 20px;
}

.subject-buttons {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  text-align: left;
}

.subject-buttons:hover { /* may add @media for button text transition*/
  width: 100%;
  height: 100%;
  border: none;
  background-color: #E18D99;
  text-align: left;
  color: white;
}

#logo {
  float: left;
}

#header {
  margin: 0;
  padding-top: 15px;
}

#footer-content {
  padding-left: 20px;
  padding-bottom: 15px;
}

/*-----------------TEXT ANIMATION-------------------*/

